{{define "inicio"}}
{{template "cabecera"}}
        
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>MAIL</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                    <td>01</td>
                    <td>SPARKY GOMEZ</td>
                    <td>sparkyGomez@perro.dog</td>
                    <td>Editar | Borrar</td>
                </tr>
                
            </tbody>
        </table>
    {{template "pie"}}
{{end}}